body{
    background-image:url("/content/images/swirl_pattern_sepia.png");
}

.pingpot-logo{
	position:fixed;
	left:15px;
	top:15px;
	color:black;
    font-weight:bold;
    text-shadow:1px 1px 1px white;
}

.pot-column{
    background-image: url("/content/images/coffeetower.svg");
    background-position: -122px -50px;
    height: 100%;
}
.pot-status-container{
	margin:20px 0;
	height:300px;
	width:400px;
	/*border:2px solid black;
	background-image: url("/content/images/term_small.jpg");
	background-size: cover;
	background-position-y: 50%;
	border-radius: 10px;*/
}

.pot{
	height:450px;
	width:400px;
	position:relative;
}
.pot-svg{
	position:absolute;
	top:0;
	z-index:2;
	width:100%;
	height:100%;
	margin-left: -44px;
    margin-top:68px;
}
/*.pot-gradient{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: #b57124; /* Old browsers *//*
	background: -moz-linear-gradient(top,  #b57124 0%, #000000 100%); /* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b57124), color-stop(100%,#000000)); /* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(top,  #b57124 0%,#000000 100%); /* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(top,  #b57124 0%,#000000 100%); /* Opera 11.10+ *//*
	background: -ms-linear-gradient(top,  #b57124 0%,#000000 100%); /* IE10+ *//*
	background: linear-gradient(to bottom,  #b57124 0%,#000000 100%); /* W3C *//*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b57124', endColorstr='#000000',GradientType=0 ); /* IE6-9 *//*
}*/

.burner-container{
	width:400px;
	height:80px;
	position:relative;
}
.burner{
	margin-top:10px;
	width:100%;
	height:100%;
	/*background-color:black;*/
}
.burner-container.hot>.burner{
	/*background-color: red;*/
}
.burner-container.warm>.burner{
	/*background-color: orange;*/
}
.burner-status{
	position: absolute;
	padding:0 5px;
	right: -130px;
	top: 51px;
	color: white;
	line-height: 76px;
	font-size: 41px;
	/*border: 2px solid black;*/
	background-color: black;
}
.burner-status:after{
	content:"COLD";
}
.burner-container.hot>.burner-status{
	color:red;
	text-shadow: 0px -1px 5px white;
	/*border:2px solid red;*/
}
.burner-container.hot>.burner-status:after{
	content:"HOT";
}
.burner-container.warm>.burner-status{
	color:orange;
	text-shadow: 0px -1px 5px white;
	/*border:2px solid orange;*/
}
.burner-container.warm>.burner-status:after{
	content:"WARM";
}

h1{
    display:inline-block;
}

.signal-container{
    position:fixed;
    left: 54px;
    top: 9px;
}

.signal.active {
	margin-left: -1em;
	margin-top: 1.8em;
	/*border-radius: 100%;*/
	background: black;
	font-size: 16px;
	width: 0.5em;
	height: 0.5em;
	position: relative;
    display:inline-block;
}

.signal.active.one::before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -1em;
	left: -.5em;
	border-radius: 100%;
	position: absolute;
	width: 2em;
	content: "";
	height: 2em;
	border-left: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-top: 0.5em solid transparent;
	border-right: 0.5em solid black;
}

.signal.active.two::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -2em;
	left: -1.5em;
	border-radius: 100%;
	position: absolute;
	width: 4em;
	content: "";
	height: 4em;
	border-left: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-top: 0.5em solid transparent;
	border-right: 0.5em solid black;
}

.coffee-container{
	background-image: url("/content/images/coffeebag.svg");
	background-repeat: no-repeat;
	height: 425px;
	padding: 60px 0 0 20px;
	position: absolute;
	width: 229px;
	top: 270px;
	left: 290px;
}
.coffee-container>h5{
	width: 183px;
	text-align: center;
	font-size: 30px;	
}
.sugar-container{
	background-image: url("/content/images/sugar.svg");
	background-repeat: no-repeat;
	height: 300px;
	padding: 100px 0 0 50px;
	position: absolute;
	top: 578px;
	width: 286px;
	left: 220px;
    z-index:2;
}
.sugar-container>h5{
	width: 183px;
	text-align: center;
	font-size: 30px;	
}
.creamer-container{
	background-image: url("/content/images/tall_creamer.svg");
	background-repeat: no-repeat;
	height: 600px;
	padding: 50px 0 0 47px;
	position: absolute;
	width: 321px;
	left: 0px;
	top: 350px;
}
.creamer-container>h5{
	width: 183px;
	text-align: center;
	font-size: 30px;
	margin-bottom: 70px;
}



.p-note{
	background: rgb(255,255,136); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1))); /*Chrome,Safari4+*/
	background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* IE10+ */
	background: linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:15px;
	font-family: cursive;
	font-size:1.3em;
	color: #000;
	width:180px;
	height:200px;
	padding-left:30px;
	/*position: fixed; top: 50%; left: 50%; margin-top: -100px; margin-left: -150px;*/
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
	-webkit-border-bottom-right-radius: 60px 5px;
	-moz-border-bottom-right-radius: 60px 5px;
	-o-border-bottom-right-radius: 60px 5px;
	z-index:3 !important; 
}


