body{
    /*background-image:url("/content/images/swirl_pattern_sepia.png");*/
}

.pingpot-logo{
	position:fixed;
	left:15px;
	top:15px;
	color:black;
    font-weight:bold;
    text-shadow:1px 1px 1px white;
}

.no-select{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.coffeetower{
    position: absolute;
    z-index: -1;
    left: -125px;
    top: -49px;
}

.pot-status-container{
	margin:20px 0;
	height:300px;
	width:400px;
	/*border:2px solid black;
	background-image: url("/content/images/term_small.jpg");
	background-size: cover;
	background-position-y: 50%;
	border-radius: 10px;*/
}

.pot{
	height:450px;
	width:400px;
	position:relative;
}
.pot-svg{
	position:absolute;
	top:0;
	z-index:2;
	width:100%;
	height:100%;
	margin-left: -44px;
    margin-top:68px;
}
/*.pot-gradient{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: #b57124; /* Old browsers *//*
	background: -moz-linear-gradient(top,  #b57124 0%, #000000 100%); /* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b57124), color-stop(100%,#000000)); /* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(top,  #b57124 0%,#000000 100%); /* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(top,  #b57124 0%,#000000 100%); /* Opera 11.10+ *//*
	background: -ms-linear-gradient(top,  #b57124 0%,#000000 100%); /* IE10+ *//*
	background: linear-gradient(to bottom,  #b57124 0%,#000000 100%); /* W3C *//*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b57124', endColorstr='#000000',GradientType=0 ); /* IE6-9 *//*
}*/

.burner-container{
	width:400px;
	height:80px;
	position:relative;
}
.burner{
	margin-top:10px;
	width:100%;
	height:100%;
	/*background-color:black;*/
}
.burner-container.hot>.burner{
	/*background-color: red;*/
}
.burner-container.warm>.burner{
	/*background-color: orange;*/
}
.burner-status{
	position: absolute;
	padding:0 5px;
	right: -130px;
	top: 51px;
	color: white;
	line-height: 76px;
	font-size: 41px;
	/*border: 2px solid black;*/
	background-color: black;
}
.burner-status:after{
	content:"COLD";
}
.burner-container.hot>.burner-status{
	color:red;
	text-shadow: 0px -1px 5px white;
	/*border:2px solid red;*/
}
.burner-container.hot>.burner-status:after{
	content:"HOT";
}
.burner-container.warm>.burner-status{
	color:orange;
	text-shadow: 0px -1px 5px white;
	/*border:2px solid orange;*/
}
.burner-container.warm>.burner-status:after{
	content:"WARM";
}

h1{
    display:inline-block;
}


.p-note{
	background: rgb(255,255,136); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1))); /*Chrome,Safari4+*/
	background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* IE10+ */
	background: linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:15px;
	font-family: cursive;
	font-size:1.3em;
	color: #000;
	width:180px;
	height:200px;
	padding-left:30px;
	/*position: fixed; top: 50%; left: 50%; margin-top: -100px; margin-left: -150px;*/
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
	-webkit-border-bottom-right-radius: 60px 5px;
	-moz-border-bottom-right-radius: 60px 5px;
	-o-border-bottom-right-radius: 60px 5px;
	z-index:3 !important; 
}


.widget{
    max-width:400px;
    position:relative;
}
.pot-widget{
    min-height:500px;
    text-align:center;
}
.logo-widget{
    min-height:200px;
    margin:auto;
    display:block;
}
.widget > svg{
    height:100%;
    width:100%;
    left:0;
    top:0;
    position:absolute;
}
.pot-widget > svg{
    max-width:600px;
    margin:auto;
    display:block;
}
 .row-md-330{
     min-height:330px;
     max-height:330px;
 }
 .muggy-widget{
     margin-top:50%;
     min-height:300px;
 }