body{
    background-image:url("/content/images/swirl_pattern_sepia.png");
}

.pingpot-logo{
	position:fixed;
	left:15px;
	top:15px;
	color:black;
    font-weight:bold;
    text-shadow:1px 1px 1px white;
}
.pot-status-container{
	margin:20px 0;
	height:300px;
	width:400px;
	border:2px solid black;
	background-image: url("/content/images/term_small.jpg");
	background-size: cover;
	background-position-y: 50%;
	border-radius: 10px;
}

.pot{
	height:450px;
	width:400px;
	position:relative;
}
.pot-svg{
	position:absolute;
	top:0;
	z-index:2;
	width:100%;
	height:100%;
	margin-left: -38px;
}
/*.pot-gradient{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: #b57124; /* Old browsers *//*
	background: -moz-linear-gradient(top,  #b57124 0%, #000000 100%); /* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b57124), color-stop(100%,#000000)); /* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(top,  #b57124 0%,#000000 100%); /* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(top,  #b57124 0%,#000000 100%); /* Opera 11.10+ *//*
	background: -ms-linear-gradient(top,  #b57124 0%,#000000 100%); /* IE10+ *//*
	background: linear-gradient(to bottom,  #b57124 0%,#000000 100%); /* W3C *//*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b57124', endColorstr='#000000',GradientType=0 ); /* IE6-9 *//*
}*/

.burner-container{
	width:400px;
	height:80px;
	position:relative;
}
.burner{
	margin-top:10px;
	width:100%;
	height:100%;
	background-color:black;
}
.burner-container.hot>.burner{
	background-color: red;
}
.burner-container.warm>.burner{
	background-color: orange;
}
.burner-status{
	position: absolute;
	padding:0 5px;
	left: 100%;
	top: 0;
	color: white;
	line-height: 76px;
	font-size: 41px;
	border: 2px solid black;
	background-color: black;
}
.burner-status:after{
	content:"COLD";
}
.burner-container.hot>.burner-status{
	color:red;
	text-shadow: 0px -1px 5px white;
	border:2px solid red;
}
.burner-container.hot>.burner-status:after{
	content:"HOT";
}
.burner-container.warm>.burner-status{
	color:orange;
	text-shadow: 0px -1px 5px white;
	border:2px solid orange;
}
.burner-container.warm>.burner-status:after{
	content:"WARM";
}

h1{
    display:inline-block;
}

.signal-container{
    position:fixed;
    left: 54px;
    top: 9px;
}

.signal.active {
	margin-left: -1em;
	margin-top: 1.8em;
	/*border-radius: 100%;*/
	background: black;
	font-size: 16px;
	width: 0.5em;
	height: 0.5em;
	position: relative;
    display:inline-block;
}

.signal.active.one::before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -1em;
	left: -.5em;
	border-radius: 100%;
	position: absolute;
	width: 2em;
	content: "";
	height: 2em;
	border-left: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-top: 0.5em solid transparent;
	border-right: 0.5em solid black;
}

.signal.active.two::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -2em;
	left: -1.5em;
	border-radius: 100%;
	position: absolute;
	width: 4em;
	content: "";
	height: 4em;
	border-left: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-top: 0.5em solid transparent;
	border-right: 0.5em solid black;
}






